@import '../../theme';

.root {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}

.loading {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: fade(@body-background, 20%);
  z-index: 1;
  cursor: not-allowed;
}

