@import '../../theme';

.root {
  margin: 0;
  padding: 8px;
  height: 100vh;
  overflow: hidden;
}

.query {
  :global {
    .ant-form-item {
      margin-bottom: 6px;
    }

    .ant-form-item-label {
      user-select: none;
    }

    .ant-form-item-explain {
      position: absolute;
      margin-top: -3px;
      z-index: 10;
    }
  }
}

.fileRow {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-left: 50px;
  background: @background-color-light;
  position: relative;
}

.fileMinus, .filePlus {
  width: 16px;
  height: 16px;
}

.fileOperator {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  z-index: 10;
}

.github {
  position: fixed;
  top: 10px;
  right: 16px;
  display: block;
  background: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.sqlWrapper {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.sqlAreaWrapper {
  flex: 1;
}

.sqlArea {
  height: 78px;
  background: @body-background
}

.sqlButton {
  flex: 0;
  height: 78px;
}

.fileName {
  display: inline-block;
  margin-top: 11px;
  margin-bottom: 11px;
  user-select: none;

  & > div {
    display: inline-block;
    width: 113px;
    text-align: right;
  }
}

.fieldTableRoot {
  background-color: @body-background;

  :global {
    .ant-form-item {
      margin: 0 !important;
    }

    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  tbody > tr {
    cursor: move;
  }
}

.element {
  position: relative;
  box-sizing: border-box;
  width: 100%;

  &.required {
    padding-left: 10px;
  }

  &.required:before {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 10px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }
}

.helper {
  display: table-row;
}

.helper td {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  padding: 8px;
  display: table-cell;
  vertical-align: center;
  background: #fff;
  width: 10000px;
  border-collapse: collapse;
}

.helper .ant-form-item {
  margin-bottom: 0;
}

