@import 'src/theme';

.root {
    background-color: #fafafa;

    :global {
        .@{ant-prefix}-form-item {
            margin: 0 !important;
        }

        .@{ant-prefix}-tabs-nav {
            margin-bottom: 0;
        }

        .@{ant-prefix}-form-item {
            margin-bottom: 0;
        }
    }

    tbody > tr {
        cursor: move;
    }
}

.element {
    position: relative;
    box-sizing: border-box;

    &.required {
        padding-left: 10px;
    }

    &.required:before {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 10px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
    }
}

.tabColumn {
    background: rgba(24, 144, 255, .05);
}

.helper {
    display: table-row;
}

.helper td {
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    padding: 8px;
    display: table-cell;
    vertical-align: center;
    background: #fff;
    width: 10000px;
    border-collapse: collapse;
}

.helper .@{ant-prefix}-form-item {
    margin-bottom: 0;
}

