@import "src/theme.less";

.root {
}

.query {
    :global {
        .@{ant-prefix}-form-item {
            margin-bottom: 6px;
        }

        .@{ant-prefix}-form-item-explain {
            position: absolute;
            margin-top: -4px;
        }
    }
}
